var config = [{
    name: '中餐',
    icon: '/icons/food/_zhongcan.png',
    disabledIcon: '/icons/food/_zhongcan_grey.png',
    enable: false
}, {
    name: '西餐',
    icon: '/icons/food/_xican.png',
    disabledIcon: '/icons/food/_xican_grey.png',
    enable: false
}, {
    name: '火锅',
    icon: '/icons/food/_huoguo.png',
    disabledIcon: '/icons/food/_huoguo_grey.png',
    enable: true
}, {
    name: '日料',
    icon: '/icons/food/_riliao.png',
    disabledIcon: '/icons/food/_riliao_grey.png',
    enable: false
}, {
    name: '小吃',
    icon: '/icons/food/_baozi.png',
    disabledIcon: '/icons/food/_baozi_grey.png',
    enable: false
}, {
    name: '烧烤',
    icon: '/icons/food/_shaokao.png',
    disabledIcon: '/icons/food/_shaokao_grey.png',
    enable: false
}, {
    name: '酒吧',
    icon: '/icons/food/_jiuba.png',
    disabledIcon: '/icons/food/_jiuba_grey.png',
    enable: false
}, {
    name: '自助',
    icon: '/icons/food/_zizhu.png',
    disabledIcon: '/icons/food/_zizhu_grey.png',
    enable: false
}, {
    name: '串串',
    icon: '/icons/food/_chuanchuan.png',
    disabledIcon: '/icons/food/_chuanchuan_grey.png',
    enable: false
}, {
    name: '甜点',
    icon: '/icons/food/_tiandian.png',
    disabledIcon: '/icons/food/_tiandian_grey.png',
    enable: false
}, {
    name: '简餐',
    icon: '/icons/food/_jiancan.png',
    disabledIcon: '/icons/food/_jiancan_grey.png',
    enable: false
}, {
    name: '茶饮',
    icon: '/icons/food/_chayin.png',
    disabledIcon: '/icons/food/_chayin_grey.png',
    enable: false
}];

module.exports = {
    config: config
};